

<div class="face-snap-card " *ngIf="faceSnap " [ngClass]="{snapped:valeurBouton==='Oops, un Snap' }"> 
    <h2>{{faceSnap.title | uppercase}}</h2>
    <p>Mis en ligne le {{ faceSnap.createdDate | date: 'dd/MM/yy, à HH:mm'}}</p>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p>{{faceSnap.description}}</p>
    <p *ngIf="faceSnap.location"> photo prise à {{faceSnap.location}}</p>


    

    <p>🤌 
        <button (click)="onSnap(faceSnap.id)"> {{valeurBouton}}</button>
        <span [ngStyle]="{color:'rgb(0,'+faceSnap.snaps+',0)'}">{{ faceSnap.snaps }}</span>

  <a routerLink="/facesnaps">Back</a>
    </p>

</div>
